name: A workflow for my Hello World App
on:
  push:
    branches:
      - master
      - feature/day2

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v2
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Compile with Maven
        run: mvn compile
      - name: Build Docker Image
        run: docker build -t devopsimage .
      - name: Run image
        run: docker run --name devopscontainer -d devopsimage
      - name: view logs
        run: docker logs devopscontainer